@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import "tailwindcss";

@font-face{
    font-family: 'Stardom'; 
      src: url('/fonts/Stardom-Regular.woff2') format('woff2'), 
           url('/fonts/Stardom-Regular.woff') format('woff'); 
      font-weight: normal;
      font-style: normal;
}

:root {
    --my-font: "Inria serif", sans-serif;
    --stardom-font: "Stardom", sans-serif;
} 


@layer utilities {
    .messageBox {
      @apply flex items-center justify-center bg-white px-4 h-10 rounded-lg border border-[#3f3f3f] w-fit;
    }
    .messageBox:focus-within {
      @apply border-gray-500;
    }
    .tooltip {
      @apply absolute top-[-2.5rem] text-black text-[10px] whitespace-nowrap bg-black px-2 py-1 border border-[#3c3c3c] rounded-md shadow-md opacity-0 transition-all duration-300;
    }
    .fileUploadWrapper label:hover .tooltip {
      @apply block opacity-100;
    }
    #sendButton {
      @apply h-full bg-transparent flex items-center justify-center cursor-pointer transition-all;
    }
    #sendButton:hover svg path {
      fill: #3c3c3c;
      stroke: white;
    }
  }
  